<head>
<meta charset="utf-8">
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<base href="<!-- $url -->" />

<!-- @include _graph.html -->

<title><!-- $title --> | <!-- $site_name --></title>
  
<link href="<!-- @path style.less -->" rel="stylesheet/less">

<!-- @include _ie.html -->

<!-- less script -->
<!-- @javascript less.js -->
<!-- end less script -->

<!-- @javascript modernizr.js -->
  
<!-- Icons -->
<link rel="logo" type="image/svg" href="<!-- $url -->/logo.svg" />
<link rel="shortcut icon" href="<!-- @path favicon-32x32.png -->">
<!-- ie will look for favicon.ico automatically -->

<meta name="msapplication-TileColor" content="<!-- $site_color -->">
<meta name="msapplication-TileImage" content="<!-- @path metro-tile.png -->">

<!-- @include _head.mobile.html -->

<!-- @reload -->