.site-header {}
.site-name {}
.page-title {}

.site-nav {}
.site-nav__list {}
.site-nav__item {}
.site-nav__link {}


//////////          //////////          //////////          //////////
          //////////          //////////          //////////          //////////
          
.site-header {
  background-color: $color--orange;
  height: 250px;
}

.site-nav__list {
  @extend %clean-list;
  @extend %grid--full;
}

.site-nav__item {
  @extend %grid__item;
  @extend %bp1--one-whole;
}

.site-name {
  line-height: 250px;
  text-align: center;
}

.site-nav {
  position: absolute;
}