@font-face {
  font-family: 'BLOKK';
  src: url('../font/blokk/BLOKKNeue-Regular.eot');
  src: url('../font/blokk/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'), url('../font/blokk/BLOKKNeue-Regular.woff') format('woff'), url('../font/blokk/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.wireframe {
  font-family: "BLOKK", serif;
}
p {
  background: url('pc.png') no-repeat left top;
}
