@import "../_responsive/_print.scss";
@import "../_responsive/_responsive-utilities";
@import "../_responsive/_responsive-large-desktop";
@import "../_responsive/_responsive-tablet";
@import "../_responsive/_responsive-handheld";
@import "../_responsive/_responsive-navbar";

@media
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
    @import "../_responsive/_2x"; 
}

// Responsive Helper
body {
  &:before,
  &:after {
    position: absolute;
    bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: $white;
    text-shadow: 
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
    letter-spacing: .1em;
  }
  
  &:before {
    left: 5px;
    
    @include apply-to(retina) { content: 'retina' };
  }

  &:after {
    right: 5px;
  
    @include respond-to(handheld) { content:  'handheld'; }
    @include respond-to(tablet) { content: 'tablet'; }
    @include respond-to(desktop) { content: 'desktop'; }
    @include respond-to(large-desktop) { content: 'large-desktop'; }
  }
}