/ @include _variables.html
/ $title Privacy Policy
/ $path /privacy.html
/ @include _doctype.html
/ @include _head.html

%body
  .container
    %p Privacy Policy

/ @include _footer.html

/ @include _analytics.html