/ @include _variables.html
/ $title Terms of Service
/ $path /tos.html
/ @include _doctype.html
/ @include _head.html

%body
  .container
    %p TOS

/ @include _footer.html

/ @include _analytics.html