/ @include _variables.html
/ $title Home
/ $path /index.html
/ @include _doctype.html
/ @include _head.html

:css
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }

%body
  -# NAVBAR   
  .navbar-wrapper
    .container
      .navbar.navbar-inverse
        .navbar-inner
          %a.btn.btn-navbar{:'data-toggle' => 'collapse',
                            :'data-target' => '.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        
          %a.brand{:href => '#'} Project name
          
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a{:href => '#'} Home
              %li
                %a{:href => '#about'} About
              %li
                %a{:href => '#contact'} Contact
              %li.dropdown
                %a.dropdown-toggle{:href => '#',
                                   :'data-toggle' => 'dropdown'}
                  Dropdown
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => '#'} Action
                  %li
                    %a{:href => '#'} Another Action
                  %li
                    %a{:href => '#'} Something else here
                  %li.divider
                  %li.nav-header Nav Header
                  %li
                    %a{:href => '#'} Separated Link
                  %li
                    %a{:href => '#'} One more separated link
  -# /NAVBAR
    
  -# CONTENT
  .container
    
    -# Main hero unit for a primary marketing message or call to action
    .hero-unit
      %h1 Hello, world!
      %p This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
      %p
        %a.btn.btn-primary.btn-large{:href => '#'} Learn more >
    
    -# Example row of columns
    .row
      .span4
        %h2 Heading
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => '#'} View details &raquo;

      .span4
        %h2 Heading
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => '#'} View details &raquo;

      .span4
        %h2 Heading
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => '#'} View details &raquo;
      
    %hr
  
    / @include _footer.html
    
  -# /CONTENT
  
  / @include _scripts.html
  
  / scripts concatenated and minified via build script
  / @javascript plugins.js
  / page specific scripts here
  / end scripts
  
  / @include _analytics.html
  
  :javascript
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')