/ @include _variables.html
/ $title Home
/ $path /index.html
/ @include _doctype.html
/ @include _head.html

%body
  %p content

/ @include _footer.html
/ @include _scripts.html

/ scripts concatenated and minified via build script
/ @javascript plugins.js
/ page specific scripts here
/ end scripts

/ @include _analytics.haml