<section class="sg-section">
  <h2 class="sg-section__header">Grouping content</h2>
<h3>Paragraphs</h3>
<p>All paragraphs are wrapped in <code>p</code> tags. Additionally, <code>p</code> elements can be wrapped with a <code>blockquote</code> element <em>if the <code>p</code> element is indeed a quote</em>. Historically, <code>blockquote</code> has been used purely to force indents, but this is now achieved using CSS. Reserve <code>blockquote</code> for quotes.</p>

<h3>Horizontal rule</h3>
<p>The <code>hr</code> element represents a paragraph-level thematic break, e.g. a scene change in a story, or a transition to another topic within a section of a reference book. The following extract from <cite>Pandora&#8217;s Star</cite> by Peter F. Hamilton shows two paragraphs that precede a scene change and the paragraph that follows it:</p>
<div class="example">
<p>Dudley was ninety-two, in his second life, and fast approaching time for another rejuvenation. Despite his body having the physical age of a standard fifty-year-old, the prospect of a long degrading campaign within academia was one he regarded with dread. For a supposedly advanced civilization, the Intersolar Commonwearth could be appallingly backward at times, not to mention cruel.</p>
<p><i>Maybe it won&#8217;t be that bad</i>, he told himself. The lie was comforting enough to get him through the rest of the night&#8217;s shift.</p>
<hr/>
<p>The Carlton AllLander drove Dudley home just after dawn. Like the astronomer, the vehicle was old and worn, but perfectly capable of doing its job. It had a cheap diesel engine, common enough on a semi-frontier world like Gralmond, although its drive array was a thoroughly modern photoneural processor. With its high suspension and deep-tread tyres it could plough along the dirt track to the observatory in all weather and seasons, including the metre-deep snow of Gralmond&#8217;s winters.</p>
</div>

<h3>Pre-formatted text</h3>
<p>The <code>pre</code> element represents a block of pre-formatted text, in which structure is represented by typographic conventions rather than by elements. Such examples are an e-mail (with paragraphs indicated by blank lines, lists indicated by lines prefixed with a bullet), fragments of computer code (with structure indicated according to the conventions of that language) or displaying <abbr title="American Standard Code for Information Interchange">ASCII</abbr> art. Here&#8217;s an example showing the printable characters of <abbr>ASCII</abbr>:</p>
<div class="example">
<pre><samp>&#32; ! " # $ % &amp; ' ( ) * + , - . /
0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
@ A B C D E F G H I J K L M N O
P Q R S T U V W X Y Z [ \ ] ^ _
` a b c d e f g h i j k l m n o
p q r s t u v w x y z { | } ~</samp></pre>
</div>

<h3>Blockquotes</h3>
<p>The <code>blockquote</code> element represents a section that is being quoted from another source.</p>
<div class="example">
<blockquote cite="http://hansard.millbanksystems.com/commons/1947/nov/11/parliament-bill#column_206">
	<p>Many forms of Government have been tried, and will be tried in this world of sin and woe. No one pretends that democracy is perfect or all-wise. Indeed, it has been said that democracy is the worst form of government except all those other forms that have been tried from time to time.</p>
</blockquote>
</div>

<h3>Ordered list</h3>
<p>The <code>ol</code> element denotes an ordered list, and various numbering schemes are available through the CSS (including 1,2,3&#8230; a,b,c&#8230; i,ii,iii&#8230; and so on). Each item requires a surrounding <code>&lt;li&gt;</code> and <code>&lt;/li&gt;</code> tag, to denote individual items within the list (as you may have guessed, <code>li</code> stands for list item).</p>
<div class="example">
<ol>
	<li>This is an ordered list.</li>
	<li>
		This is the second item, which contains a sub list
		<ol>
			<li>This is the sub list, which is also ordered.</li>
			<li>It has two items.</li>
		</ol>
	</li>
	<li>This is the final item on this list.</li>
</ol>
</div>

<h3>Unordered list</h3>
<p>The <code>ul</code> element denotes an unordered list (ie. a list of loose items that don&#8217;t require numbering, or a bulleted list). Again, each item requires a surrounding <code>&lt;li&gt;</code> and <code>&lt;/li&gt;</code> tag, to denote individual items. Here is an example list showing the constituent parts of the British Isles:</p>
<div class="example">
<ul>
	<li>
		United Kingdom of Great Britain and Northern Ireland:
		<ul>
			<li>England</li>
			<li>Scotland</li>
			<li>Wales</li>
			<li>Northern Ireland</li>
		</ul>
	</li>
	<li>Republic of Ireland</li>
	<li>Isle of Man</li>
	<li>
		Channel Islands:
		<ul>
			<li>Bailiwick of Guernsey</li>
			<li>Bailiwick of Jersey</li>
		</ul>
	</li>
</ul>
</div>
<p>Sometimes we may want each list item to contain block elements, typically a paragraph or two.</p>
<div class="example">
<ul>
	<li>
		<p>The British Isles is an archipelago consisting of the two large islands of Great Britain and Ireland, and many smaller surrounding islands.</p>
	</li>
	<li>
		<p>Great Britain is the largest island of the archipelago. Ireland is the second largest island of the archipelago and lies directly to the west of Great Britain.</p>
	</li>
	<li>
		<p>The full list of islands in the British Isles includes over 1,000 islands, of which 51 have an area larger than 20 km<sup>2</sup>.</p>
	</li>
</ul>
</div>

<h3>Definition list</h3>
<p>The <code>dl</code> element is for another type of list called a definition list. Instead of list items, the content of a <code>dl</code> consists of <code>dt</code> (Definition Term) and <code>dd</code> (Definition description) pairs. Though it may be called a &#8220;definition list&#8221;, <code>dl</code> can apply to other scenarios where a parent/child relationship is applicable. For example, it may be used for marking up dialogues, with each <code>dt</code> naming a speaker, and each <code>dd</code> containing his or her words.</p>
<div class="example">
<dl>
	<dt>This is a term.</dt>
	<dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
	<dt>Here is another term.</dt>
	<dd>And it gets a definition too, which is this line.</dd>
	<dt>Here is term that shares a definition with the term below.</dt>
	<dt>Here is a defined term.</dt>
	<dd><code>dt</code> terms may stand on their own without an accompanying <code>dd</code>, but in that case they <em>share</em> descriptions with the next available <code>dt</code>. You may not have a <code>dd</code> without a parent <code>dt</code>.</dd>
</dl>
</div>

<h3>Figures</h3>
<p>Figures are usually used to refer to images:</p>
<div class="example">
<figure>
	<img src="http://lorempixum.com/680/400/abstract" alt="Example image"/>
	<figcaption>
		This is a placeholder image, with supporting caption.
	</figcaption>
</figure>
</div>
<p>Here, a part of a poem is marked up using figure:</p>
<div class="example">
<figure>
	<p>&#8216;Twas brillig, and the slithy toves<br/>
	Did gyre and gimble in the wabe;<br/>
	All mimsy were the borogoves,<br/>
	And the mome raths outgrabe.</p>
	<figcaption>
		<cite>Jabberwocky</cite> (first verse). Lewis Carroll, 1832-98
	</figcaption>
</figure>
</div>
<p>When you  wish to cite the source of a quote, you should do so using a figure also:</p>
<div class="example">
<blockquote cite="http://hansard.millbanksystems.com/commons/1947/nov/11/parliament-bill#column_206">
	<p>Many forms of Government have been tried, and will be tried in this world of sin and woe. No one pretends that democracy is perfect or all-wise. Indeed, it has been said that democracy is the worst form of government except all those other forms that have been tried from time to time.</p>
</blockquote>
<figcaption>
	Winston Churchill, in <cite><a href="http://hansard.millbanksystems.com/commons/1947/nov/11/parliament-bill#column_206">a speech to the House of Commons</a></cite>. 11th November 1947
</figcaption>
</div>
</section>