<section class="sg-section">
  <h1 class="sg-section__header">Headings</h1>

  <h1>First-Level Header <a href="#">Linked</a></h3>
  <p>The header above is an <code>h1</code> element</p>

  <h2>Second-Level Header <a href="#">Linked</a></h3>
  <p>The header above is an <code>h2</code> element, which may be used for any form of page-level header which falls below the <code>h1</code> header in a document hierarchy.</p>

  <h3>Third-Level Header <a href="#">Linked</a></h3>
  <p>The header above is an <code>h3</code> element, which may be used for any form of page-level header which falls below the <code>h2</code> header in a document hierarchy.</p>

  <h4>Fourth-Level Header <a href="#">Linked</a></h4>
  <p>The header above is an <code>h4</code> element, which may be used for any form of page-level header which falls below the <code>h3</code> header in a document hierarchy.</p>

  <h5>Fifth-Level Header <a href="#">Linked</a></h5>
  <p>The header above is an <code>h5</code> element, which may be used for any form of page-level header which falls below the <code>h4</code> header in a document hierarchy.</p>

  <h6>Sixth-Level Header <a href="#">Linked</a></h6>
  <p>The header above is an <code>h6</code> element, which may be used for any form of page-level header which falls below the <code>h5</code> header in a document hierarchy.</p>
</section>