.rules {
  color: $color--black;

  input[type=checkbox] {
    display: none;
  }
}

.rules__special {
  color:  $color--gray;
  padding: $gutter--narrow;
  background-color: $color--gray-lighter;
  overflow: hidden;
  max-height: $type--base + $gutter--narrow * 2;
  transition: max-height 0.3s;
  border-radius: 3px;

  @include mediaQuery($lap) {
    max-height: 1000px;
  }

  label {
    display: block;
    padding-bottom: $gutter--narrow;
    cursor: pointer;

    @include mediaQuery($lap) {
      cursor: default;
    }
  }
}

.rules__note {
  color: $color--gray;

  @include typecsset-font-size($type--small);
}

.rules__special em,
.rules__note em {
  font-style: normal;
  font-weight: 600;
}

.rules__more-info-label {
  color: $color--blue;
  text-decoration: underline;
  cursor: pointer;

  @include mediaQuery($lap) {
    display: none;
  }
}

.rules__more-info {
  max-height: 0;
  overflow: hidden;
  background-color: $color--gray-lighter;
  padding-top: 0;
  padding-left: $gutter--narrow;
  padding-right: $gutter--narrow;
  transition: max-height 0.3s, padding 0.3s;

  @include mediaQuery($lap) {
    padding-top: $gutter--narrow;
    max-height: 1000px;
    background-color: transparent;
    padding: 0;
  }
}

.rules {
  #rules__more-info:checked ~ .rules__more-info {
    max-height: 1000px;
    margin-bottom: $typecsset-base-line-height;
    padding-top: $gutter--narrow;
  }

  #rules__special:checked ~ .rules__special {
    max-height: 1000px;
  }
}
