/**
 * NAV

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item--previous">
          <a class="nav__link" href="#prev">Back</a>
        </li>

        <li class="nav__item--next">
          <a class="nav__link" href="#next">Continue</a>
        </li>
      </ul>
    </nav>
 */

.nav {
  margin-top: $typecsset-base-line-height;
}

.nav__list {
/*   @extend %clean-list; */
  @extend %grid--full;
}

.nav__item {
  @extend %grid__item;
  @extend %palm--one-half;
}

.nav__link {
  text-decoration: none;
}

.nav__item--previous {
  @extend .nav__item;

  text-align: left;
}

.nav__item--next {
  @extend .nav__item;

  text-align: right;
}