.footer {
  margin: $typecsset-base-line-height auto;
}

.footer-copyright {
  color: $color--gray-light;
  text-align: center;

  @include typecsset-font-size($type--small);
  margin: 0;
}

.footer-nav {
  @extend %clean-list;

  text-align: center;
}

.footer-nav__item {
  display: inline-block;
}

.footer-nav__link {
  text-decoration: none;

  @include typecsset-font-size($type--tiny);
  margin: 0;
}