/**
 * SELECTED
    <div class="selected">
      <h2 class="selected__title">Selected Golfers</h2>

      <dl class="selected__list">
        <dt class="selected__group">Group 1</dt>
        <dd class="selected__player">Tiger Woods</dd>
      </dl>
    </div>
 */

.selected {
  @extend %grid--full;

  border: 1px solid $color--gray-light;
  padding: $gutter--narrow;
  border-radius: 3px;
  margin-bottom: $gutter--normal;

}

.selected__title {

}

.selected__list {
  @extend %grid__item;
  @extend %palm--one-whole;
  @extend %lap--one-third;

  margin-bottom: 0;

  @include mediaQuery($lap) {
    text-align: center;
  }
}

.selected__group {
/*   padding-right: $gutter--skinny; */
  font-weight: 600;


  &:after {
    content: ':'
  }
}

.selected__player {
    margin-left: 0;
    margin-bottom: 0;
}

.selected__player {


}
