.golfer__country--ca:before {
  @extend .golfer__country:before;
  background-image: url(../flags/ca.gif);
}

.golfer__country--us:before {
  @extend .golfer__country:before;
  background-image: url(../flags/us.gif);
}

.golfer__country--ie:before {
  @extend .golfer__country:before;
  background-image: url(../flags/ie.gif);
}

.golfer__country--au:before {
  @extend .golfer__country:before;
  background-image: url(../flags/au.gif);
}

.golfer__country--es:before {
  @extend .golfer__country:before;
  background-image: url(../flags/es.gif);
}

.golfer__country--se:before {
  @extend .golfer__country:before;
  background-image: url(../flags/se.gif);
}

.golfer__country--fj:before {
  @extend .golfer__country:before;
  background-image: url(../flags/fj.gif);
}

.golfer__country--co:before {
  @extend .golfer__country:before;
  background-image: url(../flags/co.gif);
}

.golfer__country--za:before {
  @extend .golfer__country:before;
  background-image: url(../flags/za.gif);
}

.golfer__country--gb:before {
  @extend .golfer__country:before;
  background-image: url(../flags/gb.gif);
}

.golfer__country--de:before {
  @extend .golfer__country:before;
  background-image: url(../flags/de.gif);
}

.golfer__country--kr:before {
  @extend .golfer__country:before;
  background-image: url(../flags/kr.gif);
}

.golfer__country--ar:before {
  @extend .golfer__country:before;
  background-image: url(../flags/ar.gif);
}

.golfer__country--dk:before {
  @extend .golfer__country:before;
  background-image: url(../flags/dk.gif);
}

.golfer__country--jp:before {
  @extend .golfer__country:before;
  background-image: url(../flags/jp.gif);
}

.golfer__country--it:before {
  @extend .golfer__country:before;
  background-image: url(../flags/it.gif);
}

.golfer__country--in:before {
  @extend .golfer__country:before;
  background-image: url(../flags/in.gif);
}

.golfer__country--nz:before {
  @extend .golfer__country:before;
  background-image: url(../flags/nz.gif);
}

.golfer__country--ng:before {
  @extend .golfer__country:before;
  background-image: url(../flags/ng.gif);
}

.golfer__country--wal:before {
  @extend .golfer__country:before;
  background-image: url(../flags/wales.gif);
}

.golfer__country--be:before {
  @extend .golfer__country:before;
  background-image: url(../flags/be.gif);
}

.golfer__country--fr:before {
  @extend .golfer__country:before;
  background-image: url(../flags/fr.gif);
}