/**
 * Golfer

    <ul class="golfer">
      <li class="golfer__name  golfer__country--us">Tiger Woods</li>

      <ul class="golfer__last-tournaments">
        <li class="golfer__stat-header">Last 3 Tournaments</li>
        <li class="golfer__stat">XX</li>
        <li class="golfer__stat">XX</li>
        <li class="golfer__stat">XX</li>
      </ul>

      <ul class="golfer__last-majors">
        <li class="golfer__stat-header">Last 3 Majors</li>
        <li class="golfer__stat">XX</li>
        <li class="golfer__stat">XX</li>
        <li class="golfer__stat">XX</li>
      </ul>

      <ul class="golfer__last-championship">
        <li class="golfer__stat-header">Last 2 PGA Championships</li>
        <li class="golfer__stat">XX</li>
        <li class="golfer__stat">XX</li>
      </ul>
    </ul>
 */

.golfer {
  border-bottom: 1px solid $color--gray-lighter;

  &:last-of-type {
      border-bottom: none;
  }

  &:nth-child(2n + 1) {
    background-color: lighten($color--gray-lighter, 2%);
  }
}

.golfer__radio {
  display: none;
}

.golfer__radio:checked + .golfer__label {
  background-color: $color--selected;
  color: $color--white;

  .golfer__stat-header {
    color: darken($color--red, 40%);
  }
}

.golfer__label {
  display: block;

  &:hover {
    background-color: $color--hover;
  }
}

.golfer__name,
.golfer__stat,
.golfer__stat-header {
  padding: $gutter--skinny $gutter--narrow !important;
}

.golfer__details {
  @extend %clean-list;
  @extend %grid--full;
}

.golfer__name {
  @extend %grid__item;
  @extend %palm--one-whole;
  @extend %lap--one-quarter;
  @extend %desk--one-quarter;

}

.golfer__country:before {
    content: '';
    display: block;
    width: 16px;
    height: $typecsset-base-line-height;
    float: left;
    background-position:left center;
    background-repeat: no-repeat;
    margin-right: $gutter--skinny;
}

.golfer__stat-group {
  @extend %clean-list;
  @extend %grid--full;
  @extend %grid__item;
  @extend %palm--one-whole;
  @extend %lap--one-quarter;

  border-left: 1px solid $color--gray-lighter;

  @include mediaQuery($lap, max-width) {
    border-left: none;
  }

}

.golfer__last-tournaments {
  @extend .golfer__stat-group;

}

.golfer__last-majors {
  @extend .golfer__stat-group;

}

.golfer__last-championship {
  @extend .golfer__stat-group;


  .golfer__stat {
    @extend %palm--one-half;
  }
}

.golfer__stat-header {
  @extend %grid__item;
  @extend %palm--one-whole;

  margin-left:  0;
  padding-left:  0;

  @include typecsset-font-size($type--small);

  @include mediaQuery($lap) {
    display: none;
  }
}

.golfer__stat {
  @extend %grid__item;
  @extend %palm--one-third;

  text-align: center;
}