// $CONTENTS                                                            
/* -- CONTENTS............You’re reading it!         */
/* -- FLAGS...............Configure options          */
/* -- FUNCTIONS...........Functions for calculations */
/* -- VARIABLES...........Variables for the project  */
/* -- EXTENDS.............Extends for the project    */
/* -- MIXINS..............Mixins for the project     */
/* -- IMPORTS.............                           */
/* -- GENERAL.............                           */
/* -- TYPOGRAPHY..........                           */
/* -- GRIDS...............                           */
/* -- LAYOUT..............                           */
/* -- MODULES.............                           */




// $FLAGS   
/* -- browser with Media Query support */
$media-queries-supported: true !default;
$no-mq-classname: '.no-mediaquery';









// $FUNCTIONS
/* -- em($px) - convert px to ems */
@import "functions";











// $VARIABLES

/* -- Colors */
/* ---- Cool */
$color--aqua:  #7FDBFF;
$color--blue:  #0054a4;
$color--navy:  #001F3F;
$color--teal:  #39CCCC;
$color--green: #5d9632;
$color--olive: #3D9970;
$color--lime:  #01FF70;

/* ---- Warm */
$color--yellow:  #FFDC00;
$color--orange:  #FF851B;
$color--red:     #FF4136;
$color--fuchsia: #F012BE;
$color--purple:  #B10DC9;
$color--maroon:  #85144B;

/* ---- Gray Scale */
$color--black:        #111;
$color--gray-darker:  #222;
$color--gray-dark:    #333;
$color--gray:          #555;
$color--gray-light:   #999;
$color--gray-lighter: #eee;
$color--white:        #fff;
  
/* -- Gutters */
$gutter--normal: 24px;
$gutter--narrow: 12px;
$gutter--skinny: 6px;
 
/* -- Typography */
$type--micro:  7px;
$type--tiny:   9px;
$type--small: 12px;
$type--base:  16px;
$type--title: 21px;
$type--large: 28.424px;

/* -- Sizes */
$size--touch-target: 44px;
$size--menu-width: 90%;
$size--max-width: 960px;
$size--width: 90%;

/* -- Breakpoints */
$palm:     em(300px);
$lap:      em(480.1px);
$portable: em(1024px);
$desk:     em(1024.1px);

/* -- Libraries  */
/* ---- Typecsset */
$typecsset-base-font-size:    $type--base;
$typecsset-base-line-height:  32px;
$typecsset-show-baseline:     false;

/* ---- Grids */
$grid__gutter:                $gutter--normal;
$grid__responsive:            true;
$grid__mobile-first:          true;
$grid__use-silent-classes:    true;
$grid__push:                  false;
$grid__pull:                  false;
$grid__use-markup-fix:        true;
$grid__breakpoints: (
  'palm' '(max-width: #{$palm})',
  'lap' '(min-width: #{$lap}) and (max-width: #{$portable})',
  'portable' '(max-width: #{$portable})',
  'desk' '(min-width: #{$desk})'
);
$grid__breakpoint-has-widths: ('palm', 'lap', 'portable', 'desk');
$grid__breakpoint-has-push:   ('palm', 'lap', 'portable', 'desk');
$grid__breakpoint-has-pull:   ('palm', 'lap', 'portable', 'desk');





// $EXTENDS
/* -- %ir - image replacement for text         */
/* -- %hide - hide element from screen         */
/* -- %zero - remove padding & margin          */
/* -- %clean-list - remove list formatting     */
/* -- %clearfix - clear floats                 */
/* -- %outline - outline element in red border */
/* -- %container - responsive center aligned   */
@import "extends";





// $MIXINS
/* -- @mediaQuery - value, constraint, target     */
/* -- @vertical-gradient - start, stop, direction */
/* -- @ir - image replacement (no args)           */
@import "mixins";





// $IMPORTS
@import "typecsset.scss";
@import "csswizardry-grids.scss";
@import "//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css";





// $GENERAL
*,
*:before,
*:after {
  box-sizing:  border-box;
}







// $TYPOGRAPHY
body {
  font-weight: 200;
}

blockquote {
  padding-left: 20px;
  position: relative;
  margin-left: 0;

  &:before,
  &:after {
    content: '';
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: -1;
  }

  &:before {
    background-color: green;
    top: 0;
    left: 0;
  }

  &:after {
    background-color: red;
    right: 0;
    bottom: 0;
  }
}

ul,
ol {
  margin-left: $gutter--normal;
  list-style-position: outside;
}

table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid $color--black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}

a {
  color: $color--blue;

  &:hover,
  &:focus {
    color: $color--aqua;
  }

  &:active {
    color: $color--navy;
  }
}





// $GRIDS





// $LAYOUT





// $MODULES
